body {
  background-color: #2c3440;
  color: rgba(170, 187, 204);
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif
}
.App {
  margin-left: 100px;
  display:flex;
}

.Gallery {
  width: 90%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  column-gap: 50px;
  justify-content: space-between;
}

.Filters {
  display: flex;
  column-gap: 40px;
  padding-bottom: 30px;
}

input {
  margin-top: 10px;
}


.SortDropdown {
  margin-top: 18px;
}
.SortDropdown select {
  height: 30px;
}

button {
  margin-top: 18px;
  height: 30px;
}


.Container img {
  border-radius: 8px;
  display: block;
}

.Container .Info {
  color: rgba(170, 187, 204);
  width: 215px;
}
